@import '../../bower_components/bootstrap/less/bootstrap.less';

@icon-font-path: "../../bower_components/bootstrap/fonts/";

.ng-touched.ng-invalid {
  .has-error;
  .form-control;
}

.ng-touched.ng-valid {
  .has-success;
  .form-control;
}

.ng-submitted .ng-invalid {
  .has-error;
  .form-control;
}

div[ng-message] {
  .alert;
  .alert-danger;

  width: 100%;

  padding: 10px;
  margin-top: 5px;
}

.orders table {
  .table;

  th {
    text-align: center;
  }

  td.price {
    text-align: right;
  }

  td {
    vertical-align: middle !important;
  }
}

.status-made {
  background-color: #f0ad4e;
}

.status-cancelled {
  background-color: #EC7470;
}

.status-sent {
  background-color: #78CBE4;
}

.status-paid {
  background-color: #9BE79B;
}

.status-animated {
  -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.btn-logout {
  .btn;
  .btn-info;
  margin-left: 10px;
}

.navbar-logout {
  color: white;
}

.auth-hide {
  display: none !important;
}
