<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>01-templates | Angular.cz</title>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">

  <script src="/bower_components/angular/angular.js"></script>
</head>
<body class="container" ng-app>

<script type="text/javascript">
  var globalVariable = 42;
</script>

<h3>Expressions</h3>
<div class='well'>
  <ul>
    <li>1 + 3 = {{1 + 3}}</li>
    <li>1 * 5 = {{1 * 5}}</li>
    <li>ternary-true: {{3 == '3' ? 'ano' : 'ne'}}</li>
    <li>ternary-false: {{3 === '3' ? 'ano' : 'ne'}}</li>
    <li>globalVariable: {{globalVariable}}</li>
    <li>window.globalVariable: {{window.globalVariable}}</li>
  </ul>
</div>

<h3>Databinding</h3>
<div class="well input-group">

  <input type="number" class="form-control" ng-model="a">

  <div class="input-group-addon operand">+</div>

  <input type="number" class="form-control" ng-model="b">

  <div class="input-group-addon operand">=</div>

  <div class="input-group-addon result">
    {{a+b}}
  </div>

</div>
</body>
</html>
