p Vyzkoušejte si různé formy expression.

h3 1 - Doplňte direktivu inicializující Angular
ul
  li.task Přidejte direktivu inicializující Angular do tagu body nebo html

hint Jde o direktivu ng-app

solution
  :highlight-html
    <body ng-app>

h3 2 - Vyzkoušejte zápis výrazů
ul.task
  li napište matematický výraz

solution
  :highlight-html
    <li>1 + 3 = {{1 + 3}}</li>
    <li>1 * 5 = {{1 * 5}}</li>

ul.task
  li napište výraz s ternárním operátorem

hint Myslí se tím operátor (výraz) ? true : false

solution
  :highlight-html
    <li>ternary-true: {{3 == '3' ? 'ano' : 'ne'}}</li>
    <li>ternary-false: {{3 === '3' ? 'ano' : 'ne'}}</li>

ul.task
  li vyzkoušejte výraz s globální proměnnou - #[strong globalVariable]. #[strong Tu se Vám nijak nepodaří vypsat.]
  li vyzkoušejte i přístup přes #[strong window]
  li
    strong všimněte si, že opravdu není možné k proměnné přistoupit, ale nedojde k žádné chybě

solution
  :highlight-html
    <li>globalVariable: {{globalVariable}}</li>
    <li>window.globalVariable: {{window.globalVariable}}</li>

h3 3. Dvoucestný databinding

p Vyzkoušejte si použití dvoucestného databindingu, vytvořte jednoduchou sčítací kalkulačku.

h4 3.1 - přidejte atribut ng-model
ul.task
  li přidejte na oba prvky #[strong input] atribut #[strong ng-model] k elementu #[strong input]
  li jako hodnotu atributu použijte jednou #[strong a] a podruhé #[strong b]

solution
  :highlight-html
    <input type="number" class="form-control" ng-model="a">

    ...

    <input type="number" class="form-control" ng-model="b">

h4 3.2 - vypište hodnotu součtu
ul.task
  li Vypište v šabloně pomocí expression hodnotu součtu operandů

solution
  :highlight-html
    {{a + b}}

