h3 1. Do definice modulu přidejte závislost ngResource

h3 2. Inicializace factory používající $resource
ul.task
  li ve factory #[strong Order] inicializujte #[strong $resource]
  li jako url použijte :  #[strong REST_URI + '/orders/:id']
ul.task
  li parametr id namapujte na @id

solution
  :highlight-js
    return $resource(REST_URI + '/orders/:id', {"id": "@id"});

h3 3. Načtení dat
ul.task
  li v kontroleru #[strong OrderListControlleru] použijte vytvořenou factory #[strong Order]
  li pomocí volání její metody #[strong query()] naplňte #[strong this.orders]

solution
  :highlight-js
    this.orders = Order.query();

ul.task
  li vyzkoušejte, že se data načtou a podívejte se v konzoli na komunikaci se serverem
  li všimněte si probliknutí prázdné tabulky
  li zamyslete se proč tomu tak je

hint Data se načítají asynchronním požadavkem

h3 4. Získání dat pro detail
ul.task
  li data pro detail získejte už v definici routy v sekci #[strong resolve] pro #[strong orderData]
  li pro získání využijte #[strong Order.get] s předáním #[strong id]
  li návratovou hodnotou funkce #[strong orderData] by mělo být promise - použijte vlastnost #[strong .$promise]

solution
  :highlight-js
    return Order.get({'id' : id}).$promise;

ul.task
  li vyzkoušejte přechod na detail a podívejte se v konzoli na komunikaci se serverem

h3 5. Vytvoření nového objektu
h4 5.1 - vytvoření nového objektu
ul
  li v kontroleru #[strong OrderCreateController] vytvořte nový objekt pomocí operátoru #[strong new] a factory #[strong Order]
  li přiřaďte jej do #[strong this.order]


solution
  :highlight-js
    this.order = new Order();

h4 5.2 - uložení nového objektu
ul.task
  li v metodě #[strong save(order)] uložte vytvářený objekt pomocí volání jeho metody #[strong $save]
  li přesměrování $location.path by se mělo provést až po uložení


solution
  :highlight-js
    this.save = function(order) {
      order.$save().then(function() {
        $location.path("/detail/" + order.id);
      });
    }

ul.task
  li vyzkoušejte vytvoření nového záznamu a podívejte se na komunikaci se serverem
  li zamyslete se, kdy došlo k naplnění id objektu

hint Po návratu požadavku na uložení, ve kterém bylo id obsaženo.

h3 6. Změna záznamu
ul.task
  li v metodě #[strong updateOrder(order)] uložte order pomocí #[strong $save()]

solution
  :highlight-js
    this.updateOrder = function (order) {
      order.$save();
    };

ul.task
  li vyzkoušejte funkčnost změny stavu a podívejte se v konzoli na komunikaci se serverem
  li vyzkoušejte změnu stavu na #[strong odeslaná]
  li zamyslete se, kde se vzalo ve view datum

h3 7. Smazání záznamu
ul.task
  li v metodě #[strong removeOrder(order)] odstraňte záznam pomocí volání #[strong $remove]
  li fyzické odstranění ze seznamu by se ale mělo provést až ve chvíli, kdy #[strong $remove] skončí úspěšně

solution
  :highlight-js
    this.removeOrder = function (order) {
      order.$remove().then(function () {
        var index = orderCtrl.orders.indexOf(order);
        orderCtrl.orders.splice(index, 1);
      });
    };

ul.task
  li vyzkoušejte funkčnost mazání a podívejte se v konzoli na komunikaci se serverem
